# no .a files
*.a

# no .o files
*.o

# no .exe files
*.exe

# no *.bak file
*.bak
*.~

# no IDE files
/ide
*.save
*.vws
*.cbp

# no backup files
/Backup

# no research files
/research

# but do track lib.a, even though you're ignoring .a files above
#!lib.a

# only ignore the TODO file in the current directory, not subdir/TODO
/TODO

# ignore all files in the build/ directory
build/

# ignore doc/notes.txt, but not doc/server/arch.txt
doc/*.txt

# ignore all .pdf files in the doc/ directory
doc/**/*.pdf”

.DS_Store
DocketMaster.xcodeproj/project.xcworkspace/contents.xcworkspacedata
